.head{
    background-color: #02032C;
    height: 20px;
}

.hero-sec{
    background-color: #02032C;
    /* height: 90vh; */
}

.main_sec{
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 160px;
}


.heroimg{
    width: 500px;
    margin-left: 100px;
}

.txtcont{
    width: 400px;
}
.txtcont > :not(:last-child){
    padding-bottom: 15px;
}

.cont1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns{
    display: flex;
    cursor: pointer;
    align-items: center;
    font-weight: 700;
}

.btns > :not(:last-child){
    margin-right: 40px;
}

.btns button{
    padding: 10px 40px;
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.btns span{
    padding-left: 5px;
}

.btns p, .btns span{
    display: flex;
    align-items: center;
}

.comp{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}


/* section 2 css */

.imgsec img{
    width: 500px;
}

.imgsec{
    margin-right: 100px;
}

.cont2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* padding-left: 200px; */
    /* width: 18%; */
    padding: 160px 0;

    /* background-color: #02032C;
     */
     /* background-image: linear-gradient(to right, #02032c, #3d3c5b, #7a788e, #bbb9c5, #ffffff); */
    /* background: url('../assets/images/home/Sec2.png'); */
    /* background-image: linear-gradient(to right, #02032c, #2e2f4f, #5b5974, #8a879c, #bbb9c5, #d1d0d8, #e8e7eb, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff); */
}

/* left background having blue color */
.cont2::before{
    content: "";
    position: absolute;
    background-color: #02032C;
    width: 45vw;
    height: 100%;
    left: 0;
    z-index: -1;
}

.txtcont2{
    width: 400px;
    padding: 0 40px;
}

.txtcont2 a{
    color: #1D66C3;
    text-decoration: none;
}

.txt{
    padding-bottom: 15px;
}

.txtcont2 h2 {
    padding-bottom: 20px;
}

.kbtns{
    padding: 20px 0;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 20px;
}

.kbtns p{
    padding: 10px 5px;
    background-color: #F3F4F4;
    border-radius: 5px;
    padding-left: 20px;
}

.kbtns .active{
    background-color: #1D66C3;
    color: white;
}


/* section 3 */

.cont3{
    background-color:#1D66C3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 14vw ; */
    height: 40vh;
}

.txtcont3{
    width: 30%;
    color: white;
}


/* section 4 */

.cont4{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* padding-left: 200px; */
    padding: 160px;

    /* background-color: #02032C; */
    /* background-image: linear-gradient(to left, #02032c, #2e2f4f, #5b5974, #8a879c, #bbb9c5, #d1d0d8, #e8e7eb, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff); */
}

.cont4::before{
    content: "";
    background-color: #02032C;
    width: 45vw;
    height: 100%;
    right: 0;
    position: absolute;
    z-index: -1;
}

.cont5{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    color: white;
}

.wvideo{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.wvideo > :not(:last-child){
    padding-right: 5px ;
}

.incont5{
    background-color: #1D66C3;
    padding: 40px 60px;
    border-bottom-right-radius: 100px;
}

.incont5 > :not(:last-child){
    padding-bottom: 20px;
}


/* section 6 */

.cont6{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4B8CDF;
    color: white;
    height: 45vh;
}

.incont6 button{
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 700;
}

.incont6 .btns{
    padding-bottom: 10px;
    width: fit-content;
}

.incont6 .btns span{
    padding-right: 5px;
}

.incont6 p{
    font-size: small;
    color: black;
}

.incont6 h3{
    padding-bottom: 20px;
}