.outfoot{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.infoot{
    display: grid;
    grid-template-columns: repeat(6, 180px);
}

.infoot a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.infoot a > :not(:last-child){
    padding-top: 5px;
}

.infoot a:hover{
    transform: translateX(2);
}

.footfot{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}