.logo img{
    width: 100px;
}

.logo {
    padding: 15px;
    margin-right: 50%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}


nav Link{
    padding: 0 20px 0 5px;
    text-decoration: none;
    color: black;
}

.links{
    text-decoration: none;
    color: black;
}

.links a{
    padding-right: 20px;
    text-decoration: none;
    color: black;
}

.links a:hover{
    color: #1D66C3;
    transition: 0.2s ease;
}


nav button{
    padding: 5px 20px 5px 20px;
    background-color: #1D66C3;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

nav button:hover{
    background-color: #091e3b;
    transition: 0.25s ease ;
}